@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #282a36;
  color: #f8f8f2;
  -webkit-font-smoothing: antialiased;
}
